:root
{
    --dark-color:#19283F;
    --green-color:#00C7C0;
    --red-color:#FF3150;
    --yellow-color:#FFC501;
    --section-color:#EFF7FA;

}


body
{
    font-family: 'Roboto', sans-serif;
    min-height: 10000px;
}

/* Start Nav Bar */

.navbar
{
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link
{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover
{
    color: var(--green-color);
}

.search
{
    border-left: 1px solid var(--green-color) ;
}  
.search svg{
color: var(--green-color);
}


.navbar .navbar-toggler
{
    color: white;
    font-size: 24px;
    border-color: white;
}

.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded='true']
{
    border-color: var(--green-color);
}

/* @media(max-width:991px)
{
    .search 
    {
        display:none;
    }
} */
/* End Nav Bar */



/* Start Landing */

.main-btn
{
    background-color: var(--red-color);
    border-color: #707070;
    color: var(--yellow-color);
}

.landing .btn
{
    width: 170px;
}

.btn.focus,
.btn:hover
{
    background-color: white;
    border-color: white;
    color: var(--green-color);
}

.main-title::after
{   
    content: "";
    width: 100px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    
}

.landing
{
    background-color: var(--dark-color);
    min-height: calc(100vh - 54px);
    
}
/* .landing h1
{
 color: #F0F8FB;
}
.landing p
{
 color: #A8B9C0;
} */
/* End Landing */

/* Start features */
.features 
{
    background-color: #dedede;
    height: 100%;
    width: 100%;
}
.features .icon-holder
{
    height: 200px;
}
.features .icon-holder svg
{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number
{
    font-size: 12rem ;
    color: var(--section-color);
}
.features .icon-holder .icon
{
    color: var(--green-color);
    
}
.features .feat h4
{
    color: var(--yellow-color)
    
}
/* End features */

/* Start Our Work */
.our-work 
{

    background-color: var(--section-color);
}
.our-work  ul .active
{

    background-color: var(--red-color);
    color: var(--yellow-color);
    border-radius: 10px;
}
.our-work ul li
{
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}


.our-work ul li:not(.active):hover
{
    color: var(--red-color);
}

.our-work .box
{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before
{
    content: attr(data-work);
    position: absolute;
    background-color: var(--red-color);
    /* background-color: #00c7c040; */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;   
    align-items: center; 
    font-weight: bold;
    color:var(--section-color);
    transition: 0.5s;
    font-size: 1.5rem;
    /* display: none; */
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before
{
    /* display: flex; */
    transform: translateX(0);
}
/* End  Our Work */
/* Start  Stuff*/

.stuff .description
{

    max-width: 500px;

}

/* End  Stuff */
/* Start Team */
.our-team
{
    background-color: var(--section-color);
    
}
.our-team h2
{
    color: #FFC501;
    
}

.our-team .box h4
{
    background-color: var(--green-color);
}
.our-team .box img
{
    transition: 0.5s;
}
.our-team .box img:hover
{
    width:200px;

}
.project
{
    background-color: var(--dark-color);
}
/* End  Team */

.blog .cotainer
{
    background-color:#FFC400 ;
    width: 100%;
    height: 100px;
}